<table class="ui table">
  {{yield (hash
            api=api
            head=(component "ember-thead" api=api)
            body=(component "ember-tbody" api=api)
            foot=(component "ember-tfoot" api=api)
          )}}
</table>
