<div class="ui segments">
  <div class="ui secondary segment">
    <h3 class="weight-400">{{t 'When & Where'}}</h3>
  </div>
  <div class="ui padded segment">
    freiLand Friedrich-Engels-StraBe 22 Postdam Germany 14473
    <br>
    Thursday, May 25,2017 at 09:00 AM - Thursday, May 25,2017 at 09:00 PM (Europe/Berlin)
  </div>
</div>
