<div class="ui center aligned container">
  <div class="ui stackable inverted divided grid">
    <div class="three wide column">
      <div class="ui inverted link list">
        <strong class="item">Use eventyay</strong>
        <a class="item" href="#" target="_blank">Sitemap</a>
      </div>
    </div>
    <div class="three wide column">
      <div class="ui inverted link list">
        <strong class="item">Categories</strong>
        <a class="item" href="#">Appearance or Signing</a>
        <a class="item" href="#">Attraction</a>
        <a class="item" href="#">Camp, Trip, or Retreat</a>
        <a class="item" href="#">Class, Training, or Workshop</a>
        <a class="item" href="#">Concert or Performance</a>
        <a class="item" href="#">Conference</a>
        <a class="item" href="#">Convention</a>
        <a class="item" href="#">Dinner or Gala</a>
        <a class="item" href="#">Festival or Fair</a>
        <a class="item" href="#">Game or Competition</a>
      </div>
    </div>
    <div class="three wide column">
      <div class="ui inverted link list">
        <strong class="item">Locations</strong>
        <a class="item" href="#">India</a>
        <a class="item" href="#">Singapore</a>
        <a class="item" href="#">Berlin</a>
        <a class="item" href="#">Mexico</a>
        <a class="item" href="#">New York</a>
        <a class="item" href="#">Hong Kong</a>
      </div>
    </div>
    <div class="three wide column">
      <div class="ui inverted link list">
        <strong class="item">Nearby Events</strong>
        <a class="item" href="#">FOSSASIA</a>
        <a class="item" href="#">Science Meet</a>
        <a class="item" href="#">Tech Meet</a>
      </div>
    </div>

    <div class="three wide column">
      <div class="ui inverted link list">
        <strong class="item">Follow us on</strong>
        <a class="item" href="#" target="_blank"><i class="facebook f icon"></i> Facebook</a>
        <a class="item" href="#" target="_blank"><i class="twitter icon"></i> Twitter</a>
        <a class="item" href="#" target="_blank"><i class="github icon"></i> Github</a>
      </div>
    </div>
  </div>
  <div class="ui inverted section divider"></div>
  <div class="ui horizontal inverted small divided link list" style="margin-top: 0;">
    <span class="item">Copyright &copy; {{moment-format (now) 'YYYY'}}  {{config.appName}} </span>
    <a class="item" href="#">Imprint</a>
    <a class="item" href="#">Terms and Conditions</a>
    <a class="item" href="#">Privacy Policy</a>
    <a class="item" href="#">Cookie Policy</a>
  </div>
</div>
