<div class="ui menu">
  {{#link-to 'index' class="header item" activeClass=''}}
    <h3 class="">{{config.appName}} </h3>
  {{/link-to}}
  <div class="ui category search item" style="width: 20%">
    <div class="ui transparent icon input">
      <input class="prompt" type="text" placeholder="Search Events..." style="border-radius: 0;">
      <i class="search link icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="right menu">
    {{#link-to 'index' class="item" activeClass=''}}Browse Events{{/link-to}}
    {{#if session.isAuthenticated}}
      {{#ui-dropdown class="item" action='hide'}}
        {{if authManager.currentUser (if authManager.currentUser.user_detail.firstname authManager.currentUser.user_detail.firstname authManager.currentUser.email) 'Welcome'}}
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">My Tickets</div>
          <div class="item">My Sessions</div>
          <div class="item">Manage Events</div>
          <div class="divider"></div>
          <div class="item">Profile</div>
          <div class="item">Settings</div>
          <div class="item">Admin</div>
          <div class="divider"></div>
          <a class="item" {{action 'logout'}}>Logout</a>
        </div>
      {{/ui-dropdown}}
    {{else}}
      {{#link-to 'login' class="item" activeClass=''}}Login{{/link-to}}
    {{/if}}
    <div class="item">
      <div class="ui blue button" style="text-transform: uppercase; font-weight: 400">Create an Event</div>
    </div>
  </div>
</div>