<i class="mail outline icon">
  <div class="floating ui teal label">20</div>
</i>
<div class="ui wide notification popup bottom left transition ">
  <div class="ui basic inverted horizontal segments">
    <div class="ui basic left aligned segment weight-800">
      <p>Notifications</p>
    </div>
    <div class="ui basic right aligned segment weight-600">
      <a href="#">Mark all as Read</a>
    </div>
  </div>
  <div class="ui fluid link celled selection list">
    <div class="item">
      <div class="content">
        <a class="header">
          New Session Proposal for <b>event1</b> by <b> user1</b>
          <div class="description">Title of proposal</div>
        </a>
      </div>
      <div class="left floated content">
        {{t 'just now'}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header">
          New Ticket booking for <b> event2  </b> by <b> user2</b>
          <div class="description">Ticket ID #1234</div>
        </a>
      </div>
      <div class="left floated content">
        {{t 'just now'}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <a class="header">
          New Session Propoal for <b>event3</b> by <b> user3</b>
          <div class="description">Title of proposal</div>
        </a>
      </div>
      <div class="left floated content">
        {{t 'just now'}}
      </div>
    </div>
  </div>
</div>
