{{#ui-dropdown class='compact selection page-size-dropdown' selected=value}}
  {{input type='hidden' id='table_select' value=value}}
  <i class="dropdown icon"></i>
  <div class="default text">10</div>
  <div class="menu">
    {{#each options as |option|}}
      <div class="item" data-value="{{option}}">{{option}}</div>
    {{/each}}
  </div>
{{/ui-dropdown}}
