{{#ui-dropdown class='compact selection page-size-dropdown' forceSelection=false}}
  {{input type='hidden' id='table_select' value=0}}
  <i class="dropdown icon"></i>
  <div class="default text">10</div>
  <div class="menu">
    {{#each options as |option|}}
      <div class="item" data-value="{{option}}">{{option}}</div>
    {{/each}}
  </div>
{{/ui-dropdown}}
