<div class="content">
  <h1 class="weight-300 lead">The simplest way to create events.</h1>
  <a class="ui blue button" style="text-transform: uppercase; font-weight: 400" href="{{href-to 'create'}}">Create Event</a>
</div>
