<div class="content">
  <h1 class="weight-300 lead">{{t 'The open source event solution for virtual and in-person events.'}}</h1>
  <LinkTo @route="create" class="ui blue button">
    {{t 'Create Event'}}
  </LinkTo>
</div>
