.explore.vertical.menu {
  .map .g-map {
    height: 200px;
    margin: 0;
  }

  .map .g-map-canvas {
    height: 100%;
    width: 100%;
  }

  .map {
    padding: 0 !important;
  }

  .content.menu {
    i.caret {
      float: left;
      margin-left: -3px;
      margin-right: 8px;
    }
  }

  .inner.item {
    padding-left: 34px;
  }
}

.side-bar {
  margin-right: 10px !important;
}

.content {
  &.ui {
    &.sub-menu {
      a {
        padding-left: 2.5rem;
      }
    }
  }
}
