<div class="ui stackable grid">
  <div class="row">
    <h2 class="ui header column">{{t 'Order Form'}}</h2>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      {{forms/events/view/order-form save=(action 'save') data=model}}
    </div>
  </div>
</div>