.response .string {
  color: green;
}

.response .number {
  color: darkorange;
}

.response .boolean {
  color: blue;
}

.response .null {
  color: magenta;
}

.response .key {
  color: red;
}

.json.response {
  max-height: 650px;
}

.url {
  padding: 0 1em !important;
}