<div class="ui list">
  {{#each record.sessions as |session|}}
    {{#if (not eq session.deletedAt)}}
      <div class="item">
          {{#if (eq session.state "Accepted!")}}
      </div>
    {{/if}}
  {{/each}}
</div>
