<div class="ui unordered list">
  {{#each record.sessions as |session|}}
    {{#if (not eq session.deletedAt)}}
      <div class="item">
        {{session.title}}
      </div>
    {{/if}}
  {{/each}}
</div>