<div class="ui">
  <img alt="Speaker" class="ui middle aligned tiny circular image" src="{{if this.record this.record (if this.extraRecords.photoUrl this.extraRecords.photoUrl '/images/placeholders/avatar.png')}}">
</div>