<div class="ui">
  <img alt="Speaker" class="ui middle aligned tiny circular image" src="{{if record.thumbnailImageUrl record.thumbnailImageUrl (if record.photoUrl record.photoUrl '/images/placeholders/avatar.png')}}">
</div>