@import 'font';
@import 'vars';
@import 'libs/helpers';
@import 'libs/stripe_connect';
@import 'partials/all';
@import 'pages/all';
@import 'components/all';
@import 'ember-power-select';

html,
body {
  font-size: 16px;
}

.ui.button {
  align-self: center;
  font-size: 14px;
}

.visible {
  display: block;
  z-index: 1;
}

.sink {
  position: absolute;
  z-index: -1;
}


.mobile-search-container {
  position: relative;
}

.mobile-search-container input {
  width: 100%;
}

.mobile-search-container .results,
.mobile-search-container .dropdown,
.mobile-search-container .menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: white;
}