$page-top-margin: 14px;
$event-lead-image-height: 500px;
$event-lead-image-height-minimum: 300px;
$ember-power-select-trigger-ltr-padding: .67857143em 2.1em .67857143em 1em !default;
$ember-power-select-border-color: rgba(34, 36, 38, .15) !default;
$ember-power-select-line-height: 1.21428571em !default;
