$page-top-margin: 14px;
$event-lead-image-height: 500px;
$event-lead-image-height-minimum: 300px;
$ember-power-select-trigger-ltr-padding: .410714287em 2.1em .410714287em .57142857143em !default;
$ember-power-select-border-color: rgba(34, 36, 38, .15) !default;
