 <button class="ui icon button stream-side-panel-button right" {{action (mut this.shown) true}}>
  <i class="angle left icon"></i>
</button>
{{#if this.shown}}
  <div class="d-flex chat-side-panel" style="flex-direction: column-reverse">
    <div class="ml-4">
      <button class="ui icon button chat-side-panel-button" {{action (mut this.shown) false}}>  
        <i class="angle right icon pr-2"></i>
      </button>
    </div>
    <div style="height: 100%;">
      <Public::Stream::Chat @token={{@token}} @embedded={{true}}/>
    </div>
  </div>
{{/if}}