<div class="ui stackable grid">
  <div class="sixteen wide column">
    {{unverified-user-message}}
  </div>
</div>
<div class="ui container">
  {{forms/user-profile-form user=model isLoading=isLoading}}
</div>
