.unscheduled {
  background-color: rgb(0, 131, 143);
  color: #fff;
  cursor: all-scroll !important;
  margin-bottom: 3px;
  padding: 5px;
}

.unscheduled > .remove-btn {
  display: none;
}

.unscheduled > .edit-btn {
  display: none;
}

.scheduled-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.unscheduled-session {
  border-top: 2px solid #000;
  cursor: grab;

  &.is-drag-active {
    cursor: grabbing;
  }
}
