<div class="content">
  <div class="header">{{t 'Website Generator'}}</div>
</div>
<div class="content ui stackable grid">
  <div class="row">
    {{t 'You would like to have a dedicated event website with all details, sponsors listing, speakers and sessions and the entire schedule? Simply use the website generator. It transfers the data of the event via an API to our website tool and creates a website for you. You can download the entire site as a zip file and upload it to your own web hosting service. No database set up or framework required. This feature is still in Alpha stage, but is already used actively by a number of events. If you press the below button a tab will open where your website is generated.'}}
  </div>
  <div class="row p-0">
    <a href="{{this.webAppGeneratorUrl}}" target="_blank" class="ui labeled icon button" rel="noopener noreferrer"><i class="cogs icon"></i>{{t 'Create Website'}}</a>
  </div>
</div>
