<div class="content">
  <div class="header">{{t 'Apps'}}</div>
</div>
<div class="content ui stackable grid">
  <div class="row">
    <div class="column eight wide center aligned">
      <button class="ui button">{{t 'Generate Android App'}}</button>
    </div>
    <div class="column eight wide center aligned">
      <button class="ui button">{{t 'Generate Web App'}}</button>
    </div>
  </div>
</div>
