language: node_js

node_js:
  - "6"

sudo: required

services:
  - docker

env:
  - CXX=g++-4.8 PATH=$PATH:${HOME}/google-cloud-sdk/bin CLOUDSDK_CORE_DISABLE_PROMPTS=1

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

cache:
  directories:
    - $HOME/.npm
    - $HOME/.cache

before_install:
  - npm config set spin false
  - npm install -g bower phantomjs-prebuilt
  - bower --version
  - phantomjs --version

install:
  - npm install
  - bower install

script:
  - ember l10n:convert -f false
  - COVERAGE=true ember exam --random

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash scripts/deploy.sh
  - bash kubernetes/travis/deploy.sh
