<div class="row">
  <div class="sixteen column wide">
    {{#each this.model as |session|}}
      <SessionCard @session={{session}} />
      <div class="ui hidden divider"></div>
    {{else}}
      <div class="ui disabled header">{{t 'No session proposals found for the events'}}</div>
    {{/each}}
  </div>
</div>
