<div class="sixteen wide column">
  {{events/events-table columns=columns
                        data=model
                        useNumericPagination=true
                        showGlobalFilter=true
                        showPageSize=true
                        moveToUserDetails=(action 'moveToUserDetails')
                        deleteUser=(action 'deleteUser')
                        openEditModal=(action 'openEditModal')
                        restoreUser = (action 'restoreUser')
                        customGlobalFilter='first-name'
                        hasRestorePrivileges=hasRestorePrivileges
  }}
</div>
{{modals/edit-user-modal isOpen=isEditUserModalOpen data=data}}
