<div class="sixteen wide column">
  {{tables/default  columns=columns
                    rows=model.data
                    currentPage=page
                    pageSize=per_page
                    searchQuery=search
                    sortBy=sort_by
                    sortDir=sort_dir
                    metaData=model.meta
                    filterOptions=filterOptions
                    widthConstraint="eq-container"
                    resizeMode="fluid"
                    fillMode="equal-column"
  }}
</div>
{{modals/edit-user-modal isOpen=isEditUserModalOpen data=data}}
