<div class="ui stackable grid">
  <div class="row">
    <div class="three wide column">
      {{#tabbed-navigation isVertical=true}}
        {{#each model as |topic|}}
          {{#link-to 'admin.content.system-images.list' topic.id  class='link item'}}
            {{topic.name}}
          {{/link-to}}
        {{/each}}
      {{/tabbed-navigation}}
    </div>
    <div class="thirteen wide column">
      {{outlet}}
    </div>
  </div>
</div>
