<div class="ui ordered list">
  <div class="item">
    {{#link-to 'admin.users.view.sessions.list' record.id 'upcoming'}} {{t 'Sessions'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.events' record.id}} {{t 'Events'}} {{/link-to}}
  </div>
  <div class="item">
    <a href='#' target='_blank' rel='noopener'>{{t 'Tickets'}}</a>
  </div>
  <div class="item">
    <a href='#' target='_blank' rel='noopener'>{{t 'Settings'}}</a>
  </div>
</div>
