<div class="ui ordered list">
  <div class="item">
    <a href='#' target='_blank' rel='noopener'>{{t 'Sessions'}}</a>
  </div>
  <div class="item">
    <a href='#' target='_blank' rel='noopener'>{{t 'Events'}}</a>
  </div>
  <div class="item">
    <a href='#' target='_blank' rel='noopener'>{{t 'Tickets'}}</a>
  </div>
  <div class="item">
    <a href='#' target='_blank' rel='noopener'>{{t 'Settings'}}</a>
  </div>
</div>
