<div class="ui ordered list">
  <div class="item">
    {{#link-to 'admin.users.view.sessions.list' record.id 'upcoming'}} {{t 'Sessions'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.events' record.id}} {{t 'Events'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.tickets' record.id}} {{t 'Tickets'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.account.contact-info' record.id}} {{t 'Accounts'}} {{/link-to}}
  </div>
</div>
