<div class="ui ordered list">
  <div class="item">
    {{#link-to 'admin.users.view.sessions.list' record 'upcoming'}} {{t 'Sessions'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.events' record}} {{t 'Events'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.tickets' record}} {{t 'Tickets'}} {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'admin.users.view.account.profile' record}} {{t 'Accounts'}} {{/link-to}}
  </div>
</div>
