<div class="sixteen wide column">
  {{events/events-table columns=columns
                        data=model.data
                        store=model.store
                        query=model.query
                        isNotStoreQuery = true
                        modelName = model.objectType
                        useNumericPagination=true
                        showGlobalFilter=true
                        showPageSize=true
                        deleteAccessCode=(action 'deleteAccessCode')
                        toggleStatus=(action 'toggleStatus')
                        editAccessCode=(action 'editAccessCode')
  }}
</div>
