<div class="legacy-checkbox" >
  <XToggle
    @theme='ios'
    @variant='light'
    @value={{@checked}}
    @onToggle={{@onChange}}
    @class="legacy-checkbox-switch"
  />

  {{#if @label}}
    <span class="legacy-checkbox-label" >
      {{@label}}
    </span>
  {{/if}}

</div>

