<div class="ui vertical compact basic buttons">
  {{#ui-dropdown class='ui icon bottom right pointing dropdown button'}}
    <i class="green checkmark icon"></i>
    <div class="menu">
      <div class="item">{{t 'With email'}}</div>
      <div class="item">{{t 'Without email'}}</div>
    </div>
  {{/ui-dropdown}}
  {{#ui-dropdown class='ui icon bottom right pointing dropdown button'}}
    <i class="red remove icon"></i>
    <div class="menu">
      <div class="item">{{t 'With email'}}</div>
      <div class="item">{{t 'Without email'}}</div>
    </div>
  {{/ui-dropdown}}
</div>
