<div class="ui small icon input search-box">
  {{input type="text" value=(readonly searchQuery) keyUp=(action 'setSearchQuery' value="target.value") placeholder="Search ..." }}
  <i class="search icon"></i>
</div>
