<div class="ui {{if (eq @size "large") '' 'small'}} icon input search-box">
  <Input @type="text" @value={{readonly this.searchQuery}} @keyUp={{action 'setSearchQuery' value="target.value"}} placeholder="{{t "Search"}} ..." />
  <i class="search icon"></i>
</div>
