.sharp.button {
  border-radius: 0 !important;
}

.ui.wysihtml5-command-active.button {
  background-color: #c0c1c2;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset;
  color: rgba(0, 0, 0, .95);
}

.w-content-button {
  width: max-content;
}
