i.facebook {
  &:not(.colored) {
    &:not(.inverted) {
      color: #3b5998;
    }
  }
}

i.youtube {
  &:not(.colored) {
    &:not(.inverted) {
      color: #d60303;
    }
  }
}

i.twitter {
  &:not(.colored) {
    &:not(.inverted) {
      color: #3cf;
    }
  }
}

i.github {
  &:not(.colored) {
    &:not(.inverted) {
      color: #333;
    }
  }
}

i.google.plus {
  &:not(.colored) {
    &:not(.inverted) {
      color: #63cd2d;
    }
  }
}

i.linkedin {
  &:not(.colored) {
    &:not(.inverted) {
      color: #4875b4;
    }
  }
}

i.reddit {
  &:not(.colored) {
    &:not(.inverted) {
      color: #ff4500;
    }
  }
}

i.facebook.colored.inverted {
  background-color: #3b5998 !important;
}

i.youtube.colored.inverted {
  background-color: #d60303 !important;
}

i.twitter.colored.inverted {
  background-color: #3cf !important;
}

i.google.colored.inverted {
  background-color: #c63d2d !important;
}

i.linkedin.colored.inverted {
  background-color: #4875b4 !important;
}

i.reddit.colored.inverted {
  background-color: #ff4500 !important;
}

i.success-icon {
  color: #00c89c !important;
}

.ui.cards > .card > .extra,
.ui.card > .extra {
  color: #555;
}
