i.facebook:not(.colored.inverted) {
  color: #3B5998;
}

i.twitter:not(.colored.inverted) {
  color: #33CCFF;
}

i.google.plus:not(.colored.inverted) {
  color: #C63D2D;
}

i.linkedin:not(.colored.inverted) {
  color: #4875B4;
}

i.reddit:not(.colored.inverted) {
  color: #FF4500
}

i.facebook.colored.inverted {
  background-color: #3B5998 !important;
}

i.twitter.colored.inverted {
  background-color: #33CCFF !important;
}

i.google.colored.inverted {
  background-color: #C63D2D !important;
}

i.linkedin.colored.inverted {
  background-color: #4875B4 !important;
}

i.reddit.colored.inverted {
  background-color: #FF4500 !important;
}
i.success-icon {
  color: #00C89C !important;
}
