.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  flex: 1;
  padding-bottom: 12px;
}

footer {
  padding-top: 30px !important ;
  padding-bottom: 30px !important ;
}
