.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  flex: 1;
  margin: 20px 0;
}

footer {
  padding-top: 30px !important;
  padding-bottom: 30px !important;

  .language.menu > div {
    color:rgba(0, 0, 0, 0.87) !important;
  }
}
