.footer-pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  margin: $page-top-margin 0;
}

.flexed-container {
  flex: 1;
}

footer {
  padding-top: 30px !important;
  padding-bottom: 30px !important;

  .language.menu > div {
    color:rgba(0, 0, 0, 0.87) !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-container {
    margin: 20px 0;
    min-height: 50vh;
  }

  footer {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
  }
}