label.required {

  &:after {
    content: ' *';
    color: #db2828;
  }
}

.styled.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input.preview {
  text-overflow: ellipsis !important;
}
