.nav-bar > .item > .ui.blue.button {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-bar-image {
  margin-right: 10px !important;
}

.nav-bar-search-item {
  width: 20% !important;
}

.nav-bar-prompt {
  border-radius: 0 !important;
}

.blue.text {
  color: #2185d0 !important;
}

.profile-dropdown-menu {
  animation-duration: 0s !important;
  left: auto !important;
  right: 0 !important;

  .signout {
    padding-left: 70%;
  }

  a.item {
    min-width: 200px;
  }
}

.menu-header {
  padding-right: unset !important;
  padding-left: unset !important;
  padding-bottom: unset !important;

  .menu-public {
    min-width: unset !important;
    padding-left: 8px !important;
    background: #fff;
    border: unset !important;
    height: 46px !important;
    display: flex !important;
    justify-content: center !important;
    background-color: #fff !important;
    align-items: center !important;
  }

  .ic-menu-public {
    padding-top: 16px !important;
  }

  .menu.transition.visible {
    border-top: 1px solid #96c8da !important;
  }

  .menu {
    max-height: 165px !important;
  }
}
