.nav-bar > .item > .ui.blue.button {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-bar-image {
  margin-right: 10px !important;
}

.nav-bar-search-item {
  width: 20% !important;
}

.nav-bar-prompt {
  border-radius: 0 !important;
}

.blue.text {
  color: #2185d0 !important;
}
