.nav-bar > .item > .ui.blue.button {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-bar-image {
  margin-right: 10px !important;
}

.nav-bar-search-item {
  width: 20% !important;
}

.nav-bar-prompt {
  border-radius: 0 !important;
}

.blue.text {
  color: #2185d0 !important;
}

.profile-dropdown-menu {
  left: auto !important;
  right: 0 !important;

  .signout {
    padding-left: 70%;
  }

  a.item {
    min-width: 200px;
  }
}

.menu.profile-dropdown-menu {
  float: right ;
  width: 30px !important;
}

.menu.profile-dropdown-menu > a.item {
  min-width: 30px !important;
}

.alternate.icon {
  float: right !important;
}
