.ui.basic.segments {
  background: none transparent !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.ui.active.search.dropdown input.search:focus + .text {
  color: rgba(177, 176, 176, 0.87) !important;
}

body.dimmable.undetached.dimmed {
  .pushable {
    transform: none;
  }

  .pusher {
    position: static;
  }
}

.ui.fluid.container {
  padding: 0 20px;
}
