$colorlinks: #33587d;

.column {
  color: $colorlinks;

  h4 {
    font-size: 17px;
    text-decoration-line: underline;
  }

  .links {
    color: $colorlinks;
    font-size: 15px;
    text-decoration: none;
    text-decoration-color: $colorlinks;
  }
}
