.speaker-item {
  margin: 0;

  .speaker-name {
    font-size: 16px;
    font-weight: 600;
  }

  .social-links {
    margin-top: 5px;

    i{
      margin: 0;
    }
  }
}

.speaker-description {
  padding-right: 0;
  word-wrap: break-word;
  max-height: 240px;
  overflow: hidden;
  display: none;

  &:hover {
    overflow-y: auto;
  }
}

.show {
  display: block;
}

.featured-speaker {
  margin-bottom: 10px;
}
