.small.text {
  font-size: smaller !important;
}

.tiny.text {
  font-size: .55em !important;
}

.centered.text {
  text-align: center !important;
}

.gray-text {
  color: #808080;
}

.strike.text {
  text-decoration: line-through;
}
