.x-scrollable {
  overflow-x: auto;
}

.y-scrollable {
  overflow-y: auto;
}

.scrollable-modal {
  max-height: 50vh;
}

.attendees-margin {
  margin: 5px 0 !important;
}

.hidden-item {
  display: none !important;
}

.rounded-default {
  border-radius: .28571429rem;
}

.rounded-none {
  border-radius: 0 !important;
}

.rounded-t-none {

  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-r-none {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-l-none {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-4 {
  padding: 1rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.m-0 {
  margin: 0 !important;
}

.m-2 {
  margin: .5rem;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.ml-auto {
  margin-left: auto !important;
}
