.x-scrollable {
  overflow-x: auto;
}

.y-scrollable {
  overflow-y: auto;
}

.scrollable-modal {
  max-height: 50vh;
}

.attendees-margin {
  margin: 5px 0 !important;
}

.hidden-item {
  display: none !important;
}
