.x-scrollable {
  overflow-x: auto;
}

.y-scrollable {
  overflow-y: auto;
}

.scrollable-modal {
  max-height: 50vh;
}

.attendees-margin {
  margin: 5px 0 !important;
}

.hidden-item {
  display: none !important;
}

.h-auto {
  height: auto !important;
}

.h-80perc {
  height: 80% !important;
}

.pointer {
  cursor: pointer;
}

.rounded-default {
  border-radius: .28571429rem;
}

.rounded-none {
  border-radius: 0 !important;
}

.rounded-t-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-r-none {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-l-none {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: .25rem !important;
}

.p-2 {
  padding: .5rem !important;
}

.pt-1 {
  padding-top: .25rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-2 {
  padding-top: .5rem !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.pr-01 {
  padding-right: .1rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: .25rem !important;
}

.pr-2 {
  padding-right: .5rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.pl-01 {
  padding-left: .1rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-2 {
  padding-left: .5rem !important;
}

.pl-4 {
  padding-left: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-4 {
  margin-top: 1rem !important;
}

.mt-8 {
  margin-top: 2rem !important;
}

.mt--8 {
  margin-top: -2rem !important;
}

.mt-16 {
  margin-top: 4rem !important;
}

.mb-8 {
  margin-bottom: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: .25rem !important;
}

.m-2 {
  margin: .5rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mb--4 {
  margin-bottom: -1rem !important;
}

.mb--8 {
  margin-bottom: -2rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: .25rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.ml-4 {
  margin-left: 1rem !important;
}

.ml--4 {
  margin-left: -1rem !important;
}

.mr-1 {
  margin-right: .25rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mr-4 {
  margin-right: 1rem !important;
}

.mr--4 {
  margin-right: -1rem !important;
}

.mr-8 {
  margin-right: 2rem !important;
}
