.x-scrollable {
  overflow-x: auto;
}

.y-scrollable {
  overflow-y: auto;
}

.scrollable-modal {
  max-height: 50vh;
}

.attendees-margin {
  margin: 5px 0 !important;
}

.hidden-item {
  display: none !important;
}

.rounded-none {
  border-radius: 0 !important;
}

.rounded-r-none {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-l-none {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.mb-8 {
  margin-bottom: 2rem;
}
