.event.wizard {
  .g-map {
    .g-map-canvas {
      height: 340px;
      width: 100%;
    }
  }

  .ticket-header {
    background-color: #f4f4f4;
    border: 1px solid #d4d4d5;
    box-shadow: none;
    margin-bottom: 0;
  }

  .ticket-row {
    border: 1px solid #d4d4d5;
    border-top: 0;
    box-shadow: none;
    margin: 0;

    > div.one.column.row {
      background-color: #fbfbfb;
    }
  }
}

.sponsors-step {
  padding-top: 58px;
}

