<Input @type="text" @value={{value}} placeholder={{t "Hex value or pick"}} />
<button type="button" class="ui icon button picker"><i class="square large icon" style={{css color=this.value}}></i> </button>
{{yield}}
