{{#if this.record}}
    <div class="ui inverted segment link" style={{this.attendeeTagColor}}>
        <div>{{this.attendeeTagName}}</div>
        <i class="close icon" role="button" onclick={{action 'removeTag'}}></i>
    </div>
{{/if}}
