<div class="weight-400">
  {{currency-symbol paymentCurrency}}  {{format-number record.ticketPrice}}
</div>
{{#if (not-eq record.ticket.price record.ticketPrice)}}
  <div class="ui mini yellow label">
    {{record.order.discountCode.code}}
  </div>
{{/if}}