<div class="weight-400">
  {{currency-symbol paymentCurrency}}  {{format-number (sub record.ticket.price (discount-value record))}}
</div>
{{#if (discount-value record)}}
  <div class="ui mini yellow label">
    {{discountCode.code}}
  </div>
{{/if}}
