<div class="weight-400">
  {{currency-symbol paymentCurrency}}  {{format-number record.order.amount}}
</div>
{{#if record.order.discountCode.code}}
  <div class="ui mini yellow label">
    {{record.order.discountCode.code}}
  </div>
{{/if}}