a.link-item {
  color: #333;
  display: table;

  &.active {
    background-color: rgba(0, 0, 0, .1);
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.notification-container {
  font-size: 15px;
  left: 40%;
  margin: auto;
  max-width: 600px;
  position: fixed;
  right: 50%;
  top: 5px;
  z-index: 1060;
}
