a.link-item {
  color: #333;
  display: table;

  &.active {
    background-color: rgba(0, 0, 0, .1);
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.leaflet-container {
  height: 300px;
}

div#ember126 {
  margin-left: 60px;
}
