.responsive-buttons.ember-view {
  display: inline;
  margin-left: 5px;
}

.mobile-buttons-mode {
  display: inline-grid;
  margin-right: 5px;
  margin-bottom: 5px;
}

.full-width {
  width: 100% !important;
}
