.unscheduled {
  color: #fff;
  cursor: all-scroll !important;
  margin-bottom: 3px;
  padding: 5px;
}

.remove-btn {
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  font-size: 10px;
  height: 13px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 13px;
  z-index: 33;
}

.unscheduled > .edit-btn {
  display: none;
}

.speaker {
  &:after {
    content: ', ';
  }

  &:last-of-type {
    &:after {
      content: '';
    }
  }
}
