.unscheduled {
  background-color: rgb(0, 131, 143);
  color: #fff;
  cursor: all-scroll !important;
  margin-bottom: 3px;
  padding: 5px;
}

.unscheduled > .remove-btn {
  display: none;
}

.unscheduled > .edit-btn {
  display: none;
}

.speaker {
  &:after {
    content: ', ';
  }

  &:last-of-type {
    &:after {
      content: '';
    }
  }
}