@media screen and (min-width: 0) and (max-width: 480px) {
  .speaker.four.wide.column {
    width: 100% !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .speaker.four.wide.column {
    width: 50% !important;
  }
}

.word-break {
  overflow-wrap: break-word;
}

.thumbnail-square {
  height: 220px;
  overflow: hidden;
  position: relative;
  width: 220px;
}

.thumbnail-square img {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  left: 50%; 
}
