@media screen and (min-width: 0) and (max-width: 480px) {
  .speaker.four.wide.column {
    width: 100% !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .speaker.four.wide.column {
    width: 50% !important;
  }
}

.word-break {
  overflow-wrap: break-word;
}

.thumbnail-square {
  height: 300px;
  overflow: hidden;
}

.thumbnail-square img {
  min-height: 100%;
  object-fit: cover;
}

.featured-speaker {
  height: auto;
  overflow: hidden;
  width: 100%;
}

.featured-speaker img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
