@media screen and (min-width: 0) and (max-width: 480px) {
  .speaker.four.wide.column {
    width: 100% !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .speaker.four.wide.column {
    width: 50% !important;
  }
}

.word-break {
  overflow-wrap: break-word;
}

.speakerImg {
	height: 220px;
	width: 220px;	
}
