.video-root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.stream-preview-letter {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1em;
  padding: 1rem;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  justify-content: center;
}

.stream-item {
  padding: .6rem 1.5rem !important;
}

.stream-preview-card {
  background-color: #333 !important;
  color: #fff;
  margin: .5rem 0;
  text-align: center;

  &:hover {
    background-color: #444 !important;
  }

  &.active {
    background-color: #666 !important;
  }
}

.stream-side-panel-button {
  position: fixed;
  top: 4.25rem;
  left: -.4rem;
  width: 32px;
  height: 50px;

  &.right {
    position: absolute;
    right: -.4rem;
    left: unset;
    top: 4.25rem;
  }
}

.stream-side-panel {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0 !important;
  background-color: #555;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

.stream-side-menu {
  background-color: #555 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.video-active {
  background-color: #333 !important;
}

.chat-button {
  text-align: left !important;
  font-size: 16px !important;
}
