.stream-preview-letter {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 5em;
  height: 100px;
  justify-content: center;
  margin-bottom: .5rem;
  width: 100px;
}

.stream-preview-card {
  background-color: #333 !important;
  color: #fff;
  margin: .5rem 0;
  text-align: center;
}

.stream-side-panel-button {
  position: fixed;
  top: 0;
  left: 0;
}

.stream-side-panel {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #555;
  color: #fff;
  z-index: 10;
}
