.ticket-list {
  .payment.icons {
    font-size: 26px;
    line-height: 36px;
    padding-right: 12px !important;
    vertical-align: middle !important;
  }

  table td {
    vertical-align: baseline !important;
  }
}

.filter-date-mobile-session {
  .end-date-session {
    .ui.popup.calendar {
      inset: 43px !important;

      table {
        transform: translateX(-62%);
      }
    }
  }
}
