.tracks {
  border-radius: 5px;
}

.vl {
  border-left: 1px solid rgba(86, 86, 87, .25);
  height: auto;
  position: absolute;
  top: 0;
}

.history-tl-container{
  width:100%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:4px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:100px;
    min-height:50px;
    border-left:1px solid rgba(86, 86, 87, .15);
    padding:0 0 10px 10px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}


ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #3b3939;
    position: absolute;
  	width:100px;
    left: -20%;
    text-align: right;
    font-size: 13px;
}
