.translation-dropdown-container {
  height: 2.5rem;
  width: 135.5px !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px !important;

  .menu.transition.visible {
    transform: translateX(-10.7%);
    animation: slideInMenu .3s forwards;
    border-radius: 0;
  }

  .text {
    color: #808080 !important;
  }

}

.translation-dropdown-wrapper {
  align-items: center;
  flex: 1;
  display: flex;
  width: 107.5px;
}

.translation-dropdown {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #d3d3d3;
}

.translation-dropdown-component {
  i.translation.icon {
    font-size: 1.8em;
    color: #808080;
  }

  .text-lang {
    color: #808080 !important;
  }
}

.translation-dropdown-language {
  font-size: .8em;
  margin-left: 5px;
  background-color: #808080;
  border-radius: 100%;
  color: #fff;
  padding: 2px 5px;
  margin-top: 1px;
}

.translation-dropdown .ui.dropdown {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px;
}

.translation-dropdown-button {
  width: 5rem;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  padding: 1px 20px;
  border-image: initial;
}

.translation.menu {
  left: 14px !important;
  margin-top: 18px !important;
  width: 5rem !important;

  .item {
    font-size: small !important;
    color: #808080 !important;
    padding-left: 5px !important;
  }
}

.ui.translation.menu.menu-language {
  transform: translateX(-10.7%) !important;
  top: 22px;
  width: 135px !important;
  font-size: small !important;
  color: #808080 !important;
  border-radius: 0;
  padding-left: 2px !important;
}

.item-ic-language {
  padding-right: 10px !important;
}

.item-ic-dropdown {
  margin-left: 8px !important;
  text-align: right;
}

.hidden {
  display: none;
}
