.ui-table {
  .ui.grid.no-right-margin {
    padding-right: 0;
  }

  .ui.search.no-right-margin {
    padding-right: 0;
  }

  .ui.grid.table-footer {
    padding-top: 10px;
  }
}

.table-body {
  vertical-align: 0;
}
