<div class="sixteen column wide">
  {{events/events-table columns=columns
                        data=model.data
                        store=model.store
                        query=model.query
                        paymentCurrency=model.store.paymentCurrency
                        isNotStoreQuery = true
                        modelName = model.objectType
                        useNumericPagination=true
                        showGlobalFilter=true
                        showPageSize=true
                        toggleCheckIn=(action 'toggleCheckIn')
                        
                        customGlobalFilter='firstname'
  }}
</div>
