.search-box {
  float: right;
}

.create-event {
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  .search-box {
    float: none;
    margin-top: 2px;
    width: 100%;
  }
}

.select-ticket {
  background-color: #e0e1e2 !important;
}

.custom-registration-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.custom-registration-bullet {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #e0e1e2;
  border-radius: 50%;
}

.custom-registration-checkbox .select-custom-registration-checkbox {
  background-color: #2196f3;
}

.search-bar {

  background-color: #fafafa;
  border-radius: .5rem;
  color: #808080;


  input {
    &[type='text'] {
      background-color: #fafafa;
      border: 0;
      outline: 0;
      transition: width .2s ease-in-out;
      width: 140px;

      &:focus {
        width: 200px;
      }
    }
  }

  i {
    margin-bottom: .5rem;
  }

  &-mobile {
    position: absolute;
    backface-visibility: hidden;
    z-index: -1;

    input {
      &[type='text'] {
        width: 100%;

        &:focus {
          width: 100%;
        }
      }
    }

  }
}

@keyframes anima {
  0% {
    right: 11%;
    width: 35%;
    transform: none;
  }

  99% {
    right: 11%;
    transform: none;
  }

  100% {
    right: 50%;
    transform: translateX(48%);
    width: 77%;
  }
}

.show-bar {
  z-index: 1;
  animation: anima .2s ease-in-out 1 both;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.custom-form-dropdown-attendee {
  position: relative !important;
  display: inline-block !important;

  .menu {
    position: absolute !important;
    background-color: #f9f9f9 !important;
    overflow-y: scroll !important;
    max-height: 128px !important;
  }
}

.input-attendee-custom-form {
  input {
    border-radius: unset !important;
  }
}
