.search-box {
  float: right;
}

.create-event {
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  .search-box {
    float: none;
    margin-top: 2px;
    width: 100%;
  }
}

.search-bar {

  background-color: #fafafa;
  border-radius: .5rem;

  input[type='text'] {
    background-color: #fafafa;
    border: 0;
    outline: 0;
    transition: width .2s ease-in-out;
    width: 140px;

    &:focus {
      width: 200px;
    }

  }

  i {
    cursor: pointer;
    margin-bottom: .5rem;
  }
}
