.session-search-box {
    width: 100%;

    .search-box {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 0;
        vertical-align: bottom;
        display: inline-block;

        input {
            height: 100%;
            max-width: none;
            width: calc(100% - .5rem);
            margin-left: .5rem;
            position: absolute;
            left: auto;
            right: 0;
            top: 0;
            bottom: 0;

            //Expand to full screen width
            &:focus {
                width: 200%;
                margin-left: .5rem;
            }

            transition: width .35s ease-in-out;
        }
    }
}