.public {
  height: 100vh;
  overflow: hidden !important;
}

.side-menu {
  position: sticky;
  top: 14px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile-public {
  margin: unset !important;

  .item-schedule {
    display: flex !important;
    align-items: center;
    padding-right: unset !important;
    padding-left: unset !important;

    div {
      font-size: 25px;
      font-weight: bold;
    }
  }

  .item-calendar {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-right: 3.5px !important;
    padding-left: unset !important;

    a {
      padding-left: 12px !important;
      padding-right: 12px !important;
      width: 100%;
      margin-right: unset !important;
    }
  }

  .item-sort-by {
    padding-right: unset !important;
    padding-left: unset !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .item-clear-filter {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: unset !important;

    a {
      padding-top: 7.8px !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
      margin: unset !important;
    }
  }
}

.row-two-my-schedule {
  margin-top: unset !important;
  margin-bottom: 1rem !important;

  .item-public {
    padding: unset !important;

    a {
      margin-right: unset !important;
    }
  }

  .item-my-schedule {
    padding: unset !important;

    a {
      margin-right: unset !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .item-my-speaker {
    padding: unset !important;

    a {
      width: 100% !important;
      margin: unset !important;
      padding: unset !important;
      display: flex;
      align-items: center;
      height: 100%;
    }

    div {
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.row-dropdown-public {
  .ic-ddown {
    right: 6px !important;
  }

  .dropdown {
    min-width: unset !important;
  }

  .item-track {
    padding-right: unset !important;
    padding-left: unset !important;
  }

  .item-track .menu-track .menu {
    width: 175px !important;
    transform: translateX(-1%);
    top: 60px;
    animation: slideInMenu .1s forwards;
    opacity: 1;
    pointer-events: auto;
  }

  .item-room {
    padding-right: unset !important;
    padding-left: 5px !important;
  }

  .item-room .menu-room .menu {
    width: 175px !important;
    transform: translateX(-1%);
    top: 60px;
    animation: slideInMenu .3s forwards;
    opacity: 1;
    pointer-events: auto;
  }

  .item-session-type {
    padding-right: unset !important;
    padding-left: 5px !important;
  }

  .item-session-level {
    padding-left: 5px !important;
    padding-right: unset !important;
  }

  .item-session-type .menu-type .menu {
    width: 175px !important;
    transform: translateX(-1%);
    top: 60px;
    animation: slideInMenu .1s forwards;
    opacity: 1;
    pointer-events: auto;
  }

  .item-session-level .menu-level .menu {
    width: 175px !important;
    transform: translateX(-95%);
    top: 60px;
    animation: slideInMenu .3s forwards;
    opacity: 1;
    pointer-events: auto;
  }
}
