.public {
  height: 100vh;
  overflow: hidden !important;
}

.side-menu {
  position: sticky;
  top: 14px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .content {
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 411px) and (max-width: 731px) {
  .content {
    margin-bottom: 4px;
  }
}
