.public-event {

  margin-top: -$page-top-margin;

  @mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  div.lead:not(.with) {
    @include aspect-ratio(2, 1);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-height: $event-lead-image-height;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
    }

    .content {
      background-color: rgba(0,0,0,0.7);
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      color: #ffffff;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);

      .info {
        position: absolute;
        bottom: 20%;

        .event {
          font-weight: 300;
        }

        .event.name {
          font-size: 4.5vh;
          margin-top: 0;
          margin-bottom: 1vh;
        }
        .event.time {
          font-size: 1.5vh;
          margin: 0;
        }
        .event.location {
          font-size: 1.5vh;
          margin: 0;
        }
      }

      @media (max-width: 959px) and (orientation: landscape) {
        .info {
          position: absolute;
          bottom: 20%;

          .event {
            font-weight: 300;
          }

          .event.name {
            font-size: 8.5vh;
            margin-top: 0;
            margin-bottom: 1vh;
          }
          .event.time {
            font-size: 3.5vh;
            margin: 0;
          }
          .event.location {
            font-size: 3.5vh;
            margin: 0;
          }
        }
      }
    }
  }

  div.lead.small:not(.with) {
    max-height: $event-lead-image-height-minimum;
    .content {
      .info {
        position: absolute;
        bottom: 20%;
      }
    }
  }

  > .content {

    .ui.rail {
      width: 15rem;

      &.right {
        padding-left: 0;
        margin-left: 0;
        overflow: hidden;
      }
    }

    #public-event-content {
      min-height: 400px;
    }
  }

  .description {
    text-align: justify;
  }

  .speakers {
    margin-top: 10px;
  }

  .sponsor-image {
    margin: 0 auto;
  }

  .tickets {
    margin-bottom: 20px;
  }

  .session-container {
    margin-top: 15px;
  }
}

.event-map > .g-map {
    height: 100%;
    width: 100%;
}

.event-map > .g-map > .g-map-canvas {
   height: 300px;
}
