<div class="ui one column container stackable doubling left grid">
  <div class="row">
    <div class="column">
      <h2>OpenTechSummit</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui small gray-text">
        Thursday, May 25,2017 at 09:00 AM - Thursday, May 25,2017 at 09:00 PM (Europe/Berlin)
        <br>
        freiLand Friedrich-Engels-StraBe 22 Postdam Germany 14473
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      {{order-summary}}
    </div>
    <div class="mobile hidden six wide column">
      {{event-info}}
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      {{forms/orders/order-form}}
    </div>
  </div>
</div>
