<div class="ui column">
  <a href="{{@sponsor.url}}" target="_blank" rel="noopener nofollow">
    <img src="{{@sponsor.logoUrl}}" height="250" width="250" class="ui image sponsor-image" alt="{{@sponsor.name}}">
  </a>
</div>
