<span>
  {{#if (eq this.extraRecords.type 'percent')}}
    {{this.record}} %
  {{else if (eq this.extraRecords.type 'amount')}}
    {{currency-symbol this.extraRecords.event.paymentCurrency}} {{this.record}}
  {{/if}}
</span>
