<div class="ui grid stackable">
  <div class="thirteen wide column">
    <h2 class="ui header column">{{t 'Due Invoices'}}</h2>
  </div>
  <div class="ui hidden divider"></div>
  <div class="thirteen wide column">
    <h2 class="ui header column">{{t 'Upcoming Invoices'}}</h2>
  </div>
  <div class="ui hidden divider"></div>
  <div class="thirteen wide column">
    <h2 class="ui header column">{{t 'Paid Invoices'}}</h2>
  </div>
  <div class="ui hidden divider"></div>
</div>