<div class="six wide field">
  <div class="ui labeled input">
    <div class="ui labeled input">
      <div class="ui label">
        {{this.prefix}}
      </div>
      <Input @type="text" value={{this.fixedValue}} {{on "input" this.setValue}} />
    </div>
  </div>
</div>
