<div class="ui grid">
  <div class="row">
    <div class="three wide column">
      <h3 class="ui header">Unscheduled Sessions</h3>
      <div class="ui raised segments">
        {{#each model.unscheduled as |session|}}
          {{scheduler/unscheduled-session session=session}}
        {{/each}}
      </div>
    </div>
    <div class="thirteen wide column">
      {{full-calendar events=model.events
                      aspectRatio=1.8
                      editable=true
                      droppable=true
                      resources=model.resources
                      resourceLabelText= 'Rooms'
                      header=model.header
                      ondragover="{{action 'allowDrop' event}}"
                      views=model.views
                      viewName='agendaDay'
                      drop=(action 'drop')
                      eventResize=(action 'eventResize')
                      eventDrop=(action 'eventDrop')
                      eventRender=(action 'eventRender')
                      defaultView='timelineDay'
                      validRange=model.validRange
                      now=(moment-format (now) 'YYYY-MM-DD')
                      scrollTime= '00:00'
                      minTime=model.minTime
                      slotDuration='00:30:00'
                      slotLabelFormat='HH:mm'
      }}
    </div>
  </div>
</div>

