{{#if (not-eq this.session.currentRouteName 'events.view.video.create')}}
  <LinkTo @route="events.view.video.create" class="ui icon blue button">
    {{t 'Add Video Room'}}
  </LinkTo>
  <div class="ui muted text mt-8">
    <h3>All rooms data table shows here..</h3>
  </div>
  <h3></h3> 
{{/if}}
<br>
{{outlet}}
