{{#if @record}}
    <a 
      href="{{href-to 'public.stream.view' (or @extraRecords.identifier @extraRecords.event.identifier) @record.slugName @record}}" 
      target="_blank" rel="noopener" 
      class="ui black right labeled icon copy button linkify" >
      <i class="copy icon"></i>
        {{t 'Open'}}
    </a>
{{/if}}
