<div class="column sixteen wide">
  <h2 class="ui header center aligned">
    {{t 'Create Session'}}
  </h2>
  <div class="ui container">
    {{forms/session-speaker-form fields=model.form data=model speakers=model.speakers speakerDetails=speakerDetails save=(action 'save' speakerDetails)
       includeSession=true isSessionSpeaker=true isLoading=isLoading}}
  </div>
</div>
