<div class="column sixteen wide">
  <h2 class="ui header center aligned">
    {{t 'Create Session'}}
  </h2>
  <div class="ui container">
    {{forms/session-speaker-form addNewSpeaker=addNewSpeaker
                                 fields=model.form
                                 data=model
                                 speakers=model.speakers
                                 event=model.event
                                 speakersDetails=model.session.speakers
                                 save=(action 'save')
                                 includeSession=true
                                 isSessionSpeaker=true
                                 isLoading=isLoading
    }}
  </div>
</div>
