<div class="column sixteen wide">
  <h2 class="ui header center aligned">
    {{t 'Create Session'}}
  </h2>
  <div class="ui container">
    {{forms/session-speaker-form fields=model includeSpeaker=true includeSession=true isSessionSpeaker=true}}
  </div>
</div>
