<div class="sixteen wide column">
  {{events/events-table
    columns=columns
    data=model.data
    store=model.store
    query=model.query
    isNotStoreQuery = true
    modelName = model.objectType
    useNumericPagination=true
    showGlobalFilter=true
    showPageSize=true
    lockSession=(action 'lockSession')
    unlockSession=(action 'unlockSession')
    deleteSession=(action 'deleteSession')
    editSession=(action 'editSession')
    viewSession=(action 'viewSession')
    acceptProposal=(action 'acceptProposal')
    rejectProposal=(action 'rejectProposal')
    confirmProposal=(action 'confirmProposal')
    customGlobalFilter='title'
  }}
</div>
