<div class="sixteen wide column">
  {{full-calendar event=model.event
                  weekends=false
                  aspectRatio=1.8
                  resources=model.rooms
                  header=header
                  views=views
                  viewName='timelineDay'
  }}
</div>
