<h3 class="ui header">
  {{t 'Order Expiry Time'}}
  <div class="sub header">
    {{t 'Set registration time limit for your order in minutes'}}
  </div>
</h3>
<div class="field">
  <label class="required">{{t 'Registration Time Limit'}}</label>
  <div class="two wide computer four wide mobile field">
    <Input @type="number" @id="orderExpiryTime" @name="order_expiry_time" @value={{this.settings.orderExpiryTime}} @min="1" @max="60" @step="1" />
  </div>
</div> 
