<div id='external-events'>
  <h4 class="ui header">{{t 'Events'}}</h4>
  <span class='fc-event' draggable="true">My Event 1</span>
  <span class='fc-event' draggable="true">My Event 2</span>
  <span class='fc-event' draggable="true">My Event 3</span>
  <span class='fc-event' draggable="true">My Event 4</span>
  <span class='fc-event' draggable="true">My Event 5</span>
</div>