<div class="ui segment">
  <span class="text">
    {{session.title}} |
  </span>
  {{#each session.speakers as |speaker|}}
    <span class="text speaker">
      {{speaker.name}}
    </span>
  {{/each}}
</div>