<div>
  {{#tabbed-navigation isNonPointing=true}}
    {{#link-to 'admin.permissions.system-roles' class='item'}}
      {{t 'System Roles'}}
    {{/link-to}}
    {{#link-to 'admin.permissions.event-roles' class='item'}}
      {{t 'Event Roles'}}
    {{/link-to}}
  {{/tabbed-navigation}}
</div>
{{outlet}}
