<div class="ui grid">
  {{#if (or (eq this.router.currentRoute.name 'admin.video.channels.index') (eq this.router.currentRoute.name 'admin.video.recordings') )}}
    <div class="row">
      <div class="sixteen wide column">
        <TabbedNavigation @isNonPointing={{true}}>
          <LinkTo @route="admin.video.recordings" class="item">
            {{t 'Video Recordings'}}
          </LinkTo>
          <LinkTo @route="admin.video.channels.index" class="item">
            {{t 'Video Channels'}}
          </LinkTo>
        </TabbedNavigation>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="sixteen wide column">
      {{outlet}}
    </div>
  </div>
</div>