<div class="ui stackable grid container three column">
  {{#each this.model.exhibitors as |exhibitor|}}
    <div class="column speaker-column">
      <a href="{{href-to 'public.exhibitor.view' exhibitor.id}}">
        <Public::ExhibitorItem @exhibitor={{exhibitor}} />
      </a>
    </div>
  {{/each}}
  <div class="sixteen wide column">
    <InfinityLoader @infinityModel={{this.model.exhibitors}}>
      <div class="ui loading very padded basic segment">
      </div>
      {{this.infintyModel.reachedInfinity}}
    </InfinityLoader>
  </div>
</div>
