<div class='event'>
  <div class='description'>
    {{sanitize model.event.description}}
  </div>
  <div class='featured-speakers'>
    <div class="row">
      {{public/featured-speaker-list speakers=featuredSpeakers}}
    </div>
  </div>
  <div class='speakers'>
    <div class="row">
      {{public/speaker-list speakers=nonFeaturedSpeakers}}
    </div>
  </div>
  <br>
  <div class="sponsors">
    <div class="row">
      {{public/sponsor-list sponsors=sponsors}}
    </div>
  </div>
</div>
