<div class="ui stackable grid container">
  {{#each model as |speaker|}}
    <div class="five wide column speaker-column">
      <Public::SpeakerItem @speaker={{speaker}} />
    </div>
  {{/each}}
  <div class="sixteen wide column">
    <InfinityLoader @infinityModel={{model}}>
      <div class="ui loading very padded basic segment">
      </div>
      {{infintyModel.reachedInfinity}}
    </InfinityLoader>
  </div>
</div>
