<div class="ui stackable grid container">
  {{#each model as |speaker|}}
    <div class="five wide column speaker-column">
      {{public/speaker-item speaker=speaker}}
    </div>
  {{/each}}
  {{#infinity-loader infinityModel=model triggerOffset=40 eventDebounce=30}}
  {{/infinity-loader}}
</div>
