<div class="ui list basic segment">
  <div class="content">
    <li>{{general-date @event.startsAt}} To {{general-date @event.endsAt}}</li>
    <i class="calendar alternate outline icon"></i><a href={{this.calender}}>Add To Calender</a>
  </div>
</div>
