<div class="ui list basic segment">
  <div class="content">
    <li>{{general-date this.params.startsAt this.params.timezone "dddd, MMMM DD, YYYY h:mm A"}} To {{general-date this.params.endsAt this.params.timezone "dddd, MMMM DD, YYYY h:mm A"}} {{this.gmt}}</li>
    <i class="calendar alternate outline icon"></i><a href="https://calendar.google.com/calendar/u/0/r/eventedit?dates=20201107T183000Z/20201108T113037Z&text=Circus fun&location=Location to be announced&sf=true">Add To Calender </a>
  </div>
</div>
