<img src="{{license.imageSrc}}" class="copyright-image" alt="{{licenses.name}}">
<br>
<div class='copyright text'>
  <p>
    This event is licenced under <a href="{{license.link}}"> {{license.name}} </a>.
  </p>
</div>
