<div class="ui grid fluid">
  <div class="eight wide column loc-map">
    {{#g-map lat=event.latitude lng=event.longitude zoom=12 as |context|}}
      {{g-map-marker context lat=event.latitude lng=event.longitude}}
    {{/g-map}}
  </div>
  <div class="eight wide column">
    <h1>Address</h1>
    <p>{{event.locationName}}</p>
  </div>
</div>
