<div>
    <div class="ui">
        <div class="featured-speaker">
            <img alt="exhibitor" class="ui rounded image" src="{{this.exhibitor.image}}">
        </div>
        <h4 class="ui centered header no margin">
            <img class="ui small image" src="{{or this.exhibitor.logoUrl '/images/placeholders/Other.jpg'}}" alt="Logo">
            {{this.exhibitor.name}}
        </h4>
    </div>
</div>
