<h3>{{t 'Featured Speakers'}}</h3>
<div class="speaker-list ui grid">
  {{#each speakers as |speaker|}}
    <Public::SpeakerItem @speaker={{speaker}} @class="five wide column" @isFeatured={{true}} />
  {{/each}}
</div>
