<h3>{{t 'Featured Speakers'}}</h3>
<div class="speaker-list ui grid">
  {{#each this.speakers as |speaker|}}
    <Public::SpeakerItem @speaker={{speaker}} @timezone={{@timezone}} @class="five wide column" @isFeatured={{true}} />
  {{/each}}
</div>
