<a href="{{this.sponsor.url}}" target="_blank" rel="noopener nofollow">
  <img src="{{this.sponsor.logoUrl}}" height="250" width="250" class="ui image sponsor-image" alt="{{this.sponsor.name}}">
</a>
