<h3 class="ui header">{{t 'Sponsors'}}</h3>
{{#each-in sponsorsGrouped as |key sponsors|}}
  <h4 class="ui header">{{key}}</h4>
  <div class="ui three column stackable grid">
    {{#each sponsors as |sponsor|}}
      {{public/sponsor-item sponsor=sponsor}}
    {{/each}}
  </div>
{{/each-in}}
