.map .g-map {
  height: 200px;
  margin: 0;
}
.map .g-map-canvas {
  width: 100%;
  height: 100%;
}
.map {
  padding: 0 !important;
}

.explore.sub.menu {
  padding-left: 8px;

  .item {
    font-size: inherit !important;
  }
}
