<div class="ui horizontal compact basic buttons">
  <UiPopup @content={{t "Delete "}} @click={{action (confirm (t "Are you sure you would like to delete this video recording?") (action @props.actions.deleteRecording @record))}} @class="ui icon button" @position="left center">
    <i class="trash icon"></i>
  </UiPopup>
</div>
