<div class="ui unordered list">
    {{#each @record as |event|}}
        <div class="item">
            <a href="{{event.url}}" target="_blank" rel="noopener"  class="ui blue basic compact button">{{event.name}}</a>
        </div>
    {{/each}}
</div>