<div class="ui segments">
    <div class="ui green inverted segment center aligned">
      <div class="ui inverted mini statistic horizontal">
        <div class="value">
          {{t 'Organizer Message'}}
        </div>
      </div>
    </div>
    <div class="ui padded segment pre-line">{{sanitize @event.afterOrderMessage}}</div>
</div>