<div class="ui segments">
  <div class="ui secondary segment">
    <h3 class="weight-400">{{t 'Organizer'}}</h3>
  </div>
  <div class="ui padded segment">
    <h3>{{data.event.ownerName}}</h3>
    <br>
    {{sanitize data.event.ownerDescription}}
  </div>
</div>
