<div class="ui {{if device.isMobile 'horizontal' 'vertical'}} compact basic buttons">
  {{#ui-popup content=(t 'Edit') click=(action editAccessCode record.id) class='ui icon button' position='left center'}}
    <i class="edit icon"></i>
  {{/ui-popup}}
  {{#if (not record.isExpired)}}
    {{#if record.isActive}}
      {{#ui-popup content=(t 'Deactivate') click=(action toggleStatus record) class='ui icon button' position='left center'}}
        <i class="remove icon"></i>
      {{/ui-popup}}
    {{else}}
      {{#ui-popup content=(t 'Activate') click=(action toggleStatus record) class='ui icon button' position='left center'}}
        <i class="check icon"></i>
      {{/ui-popup}}
    {{/if}}
  {{/if}}
  {{#ui-popup content=(t 'Delete') click=(action (confirm (t 'Are you sure you would like to delete this Access Code?') (action deleteAccessCode record))) class='ui icon button' position='left center'}}
    <i class="trash icon"></i>
  {{/ui-popup}}
</div>
