<table class="ui selectable celled table">
  <thead>
    {{#if @headerText}}
      <tr>
        <th class="text left aligned">
          {{@headerText}}
        </th>
      </tr>
    {{/if}}
  </thead>
  <tbody>
    <tr class="border left aligned">
        <UiCheckbox
            @class="slider mt-4 mb-2 ml-2"
            @checked={{field.isIncluded}}
            @onChange={{action @showSampleData}} />
            <span>{{t 'Show Sample Data.'}} </span>
    </tr>
  </tbody>
</table>