<div class="badge-setting">
  <form class="ui form">
    <div class="field">
      {{#if @headerText}}
      <h2 class="badge-setting-title">
        {{@headerText}}
      </h2>
      {{/if}}
    </div>
    <div class="field">
        <div class="column ui pb-2">
          <UiCheckbox @class="slider mt-2 ml-2" @checked={{@data.isShowingSampleData}} @onChange={{action (mut
            @data.isShowingSampleData)}} />
          <label class="ui pb-4">{{t 'Show Sample Data.'}} </label>
        </div>
    </div>
  </form>
</div>
