<table class="ui selectable celled table">
  <thead>
    {{#if @headerText}}
      <tr>
        <th class="text left aligned">
          {{@headerText}}
        </th>
      </tr>
    {{/if}}
  </thead>
  <tbody>
    <tr class="border left aligned">
      <div class="ui w-full">
        <UiCheckbox
            @class="slider mt-2 ml-2"
            @checked={{@data.isShowSampleData}}
            @onChange={{action (mut @data.isShowSampleData)}} />
            <label>{{t 'Show Sample Data.'}} </label>
      </div>
    </tr>
  </tbody>
</table>