{{#if success}}
  <div class="ui icon info message eight wide column center aligned">
    <p>Your role have been added successfully !</p>
  </div>
{{else}}
  <div class="ui icon error message eight wide column center aligned">
    <p>Error: {{t error}}</p>
  </div>
{{/if}}
