<div class='ui checkbox'>
  {{input type='checkbox' name='mail_status' checked=extraRecords.mailStatus}}
  <label>Mail</label>
</div>
<div class='ui checkbox'>
  {{input type='checkbox' name='notification_status' checked=extraRecords.notificationStatus}}
  <label>Notification</label>
</div>
<div class='ui checkbox'>
  {{input type='checkbox' name='user_control_status' checked=extraRecords.userControlStatus}}
  <label>User Control</label>
</div>
