<div class="ui segment column sixteen wide inner-table-wrapper x-scrollable">
  <table class="ui very basic unstackable table">
    {{yield (hash
              api=api
              head=(component "ember-thead" api=api)
              body=(component "ember-tbody" api=api)
              foot=(component "ember-tfoot" api=api)
            )}}
  </table>
</div>