<div class="ui stackable grid">
  <div class="row">
    <h2 class="ui header column">
      {{t 'Create a new Discount'}}
    </h2>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      {{forms/events/view/create-discount-code data=model}}
    </div>
  </div>
</div>
