<div class="sixteen wide column">
  {{events/events-table columns=columns
                        data=model.data
                        store=model.store
                        query=model.query
                        isNotStoreQuery = true
                        modelName = model.objectType
                        useNumericPagination=true
                        showGlobalFilter=true
                        showPageSize=true
                        deleteDiscountCode=(action 'deleteDiscountCode')
                        toggleStatus=(action 'toggleStatus')
                        editDiscountCode=(action 'editDiscountCode')
                        customGlobalFilter='code'
  }}
</div>
