<div class="sixteen wide column">
  {{events/events-table columns=columns data=model
                        useNumericPagination=true
                        showGlobalFilter=true
                        showPageSize=true
                        deleteDiscountCode=(action 'deleteDiscountCode')
                        toggleStatus=(action 'toggleStatus')
                        editDiscountCode=(action 'editDiscountCode')
  }}
</div>
