<div class="row">
  <div class="sixteen wide column">
    <table class="ui tablet stackable celled table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Name</th>
          <th>Date</th>
          <th>Roles</th>
          <th>Sessions</th>
          <th>Speakers</th>
          <th>Tickets</th>
          <th>Public Url</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <img src="http://placehold.it/100x100" alt="Event logo">
            </div>
          </td>
          <td>
            <div>Sample Event</div>
          </td>
          <td>
            March 18, 2016 - 09:30 AM
            <br>(to)<br>
            March 20, 2016 - 05:30 PM
          </td>
          <td>
            <div class="ui ordered list">
              <div class="item">sample@gmail.com (Organizer)</div>
              <div class="item">sample2@gmail.com (Manager)</div>
            </div>
          </td>
          <td>
            <div class="ui list">
              <div class="item">Drafts: 0</div>
              <div class="item">Submitted: 0</div>
              <div class="item">Accepted: 0</div>
              <div class="item">Confirmed: 0</div>
              <div class="item">Pending: 0</div>
              <div class="item">Rejected: 0</div>
            </div>
          </td>
          <td>
            2
          </td>
          <td>
            <div class="ui bulleted list">
              <div class="item">Premium (12/100)</div>
              <div class="item">VIP (10/15)</div>
              <div class="item">Normal (100/200)</div>
              <div class="item">Free (100/500)</div>
            </div>
          </td>
          <td>
            <div class="ui link list">
              <a class="item" target="_blank" rel="noopener" href="http://nextgen.eventyay.com/e/ecc2001a">
                http://nextgen.eventyay.com/e/ecc2001a
              </a>
            </div>
          </td>
          <td class="center aligned">
            <div class="ui vertical compact basic buttons">
              {{#ui-popup content='Edit event details' class='ui icon button'}}
                <i class="edit icon"></i>
              {{/ui-popup}}
              {{#ui-popup content='View event details' class='ui icon button'}}
                <i class="unhide icon"></i>
              {{/ui-popup}}
              {{#ui-popup content='Delete event' class='ui icon button'}}
                <i class="trash outline icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
