<div class="sixteen wide column">
  <h3 class="ui dividing header">{{t 'Imported Events'}}</h3>
  </div>
{{tables/default  columns=columns
                  rows=data.data
                  currentPage=page
                  pageSize=per_page
                  searchQuery=search
                  sortBy=sort_by
                  sortDir=sort_dir
                  metaData=data.meta
                  filterOptions=filterOptions
                  widthConstraint="eq-container"
                  resizeMode="fluid"
                  fillMode="equal-column"
}}    
