<div class="ui vertical compact basic buttons">
  {{#ui-popup content=(t 'Cancel order') class='ui icon button' position='left center'}}
    <i class="delete icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'Delete order') class='ui icon button' position='left center'}}
    <i class="trash icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'Resend order confirmation') class='ui icon button' position='left center'}}
    <i class="mail outline icon"></i>
  {{/ui-popup}}
</div>