<div class="weight-400">
  {{currency-symbol this.extraRecords.event.paymentCurrency}}  {{format-number this.record}}
</div>
{{#if this.extraRecords.discountCode.code}}
  <div class="ui mini yellow label">
    {{this.extraRecords.discountCode.code}}
  </div>
{{/if}}
