{{#if this.record}}
  <div>
    {{general-date this.record '' 'D MMM, YYYY h:mm A'}}
  </div>
{{else}}
  <div>
    {{general-date this.extraRecords.createdAt '' 'D MMM, YYYY h:mm A'}}
  </div>
{{/if}}
