<div class="ui vertical compact basic buttons">
  {{#if (and (eq record.status 'placed') (can-modify-order record))}}
    {{#ui-popup content=(t 'Mark Completed') click=(action (confirm (t 'Are you sure you would like to mark this Order as completed?') (action completeOrder record))) class='ui icon button' position='left center'}}
      <i class="check icon"></i>
    {{/ui-popup}}
  {{/if}}
  {{#if (and (not-eq record.status 'cancelled') (not-eq record.status 'expired') (can-modify-order record))}}
    {{#ui-popup content=(t 'Cancel order') click=(action (confirm (t 'Are you sure you would like to cancel this Order?') (action cancelOrder record))) class='ui icon button' position='left center'}}
      <i class="delete icon"></i>
    {{/ui-popup}}
  {{/if}}
  {{#if (can-modify-order record)}}
    {{#ui-popup content=(t 'Delete order') click=(action (confirm (t 'Are you sure you would like to delete this Order?') (action deleteOrder record))) class='ui icon button' position='left center'}}
      <i class="trash icon"></i>
    {{/ui-popup}}
  {{/if}}
  {{#ui-popup content=(t 'Resend order confirmation') class='ui icon button' position='left center'}}
    <i class="mail outline icon"></i>
  {{/ui-popup}}
</div>
