{{#if this.record}}
  <div>
    {{general-date this.record '' 'MMMM DD, YYYY - hh:mm A'}}
  </div>
{{else}}
  <div>
    {{general-date this.extraRecords.createdAt '' 'MMMM DD, YYYY - hh:mm A'}}
  </div>
{{/if}}
