{{#if this.extraRecords.timezone}}
  <span>
    {{general-date this.record this.extraRecords.timezone "D MMM, YYYY HH:mm A (z)"}}
  </span>
{{else if this.record}}
  <span>
    {{moment-format this.record (if this.props.options.dateFormat this.props.options.dateFormat "D MMM, YYYY HH:MM A")}}
  </span>
{{/if}}
