<div class="ui vertical compact basic buttons">
  {{#ui-popup content=(t 'Edit') click=(action editEvent record.identifier) class='ui icon button' position='left center'}}
    <i class="edit icon"></i>
  {{/ui-popup}}
  {{#ui-popup tagName='a' click=(action moveToDetails record.identifier) content=(t 'View') class='ui icon button' position='left center'}}
    <i class="unhide icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'Delete') click=(action openDeleteEventModal record.identifier record.name) class='ui icon button' position='left center'}}
    <i class="trash outline icon"></i>
  {{/ui-popup}}
</div>
