<div class="ui vertical compact basic buttons">
  <UiPopup @content={{t "Edit"}} @class="ui icon button" @position="left center">
    <i class="edit icon"></i>
  </UiPopup>
  <UiPopup @content={{t "Deactivate"}} @class="ui icon button" @position="left center">
    <i class="remove outline icon"></i>
  </UiPopup>
  <UiPopup @content={{t "Delete"}} @class="ui icon button" @position="left center">
    <i class="trash icon"></i>
  </UiPopup>
</div>
