{{#if this.extraRecords.timezone}}
  <span>
    {{general-date this.record "D MMM, YYYY h:mm A (z)" tz=this.extraRecords.timezone}}
  </span>
{{else if this.record}}
  <span>
    {{general-date this.record (if this.props.options.dateFormat this.props.options.dateFormat "D MMM, YYYY h:mm A")}}
  </span>
{{/if}}
