<div class="ui vertical compact basic buttons">
  {{#ui-popup content=(t 'Edit') class='ui icon button' position='left center'}}
    <i class="edit icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'Deactivate') class='ui icon button' position='left center'}}
    <i class="remove outline icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'Delete') class='ui icon button' position='left center'}}
    <i class="trash icon"></i>
  {{/ui-popup}}
</div>
