{{#if this.extraRecords.timezone}}
  <span>
    {{general-date record this.extraRecords.timezone}}
  </span>
{{else if record}}
  <span>
    {{moment-format record (if this.props.options.dateFormat this.props.options.dateFormat 'MMMM DD, YYYY - HH:mm A')}}
  </span>
{{/if}}
