{{#if (get record column.propertyName)}}
  <span>
    {{moment-format (get record column.propertyName) (if column.dateFormat column.dateFormat 'MMMM DD, YYYY - HH:mm A')}}
  </span>
{{else}}
  <span>
    {{t 'No dates available.'}}
  </span>
{{/if}}
