<div class="ui vertical compact basic buttons">
  {{#ui-popup content=(t 'Edit event details') class='ui icon button'}}
    <i class="edit icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'View event details') class='ui icon button'}}
    <i class="unhide icon"></i>
  {{/ui-popup}}
  {{#ui-popup content=(t 'Delete event') class='ui icon button'}}
    <i class="trash outline icon"></i>
  {{/ui-popup}}
</div>
