{{#if record.startsAt}}
  <div>
    {{moment-format record.startsAt 'MMMM DD, YYYY - hh:mm A'}}
  </div>
  To
  <div>
    {{moment-format record.endsAt 'MMMM DD, YYYY - hh:mm A'}}
  </div>

{{else}}
  <span>
    {{t 'No dates available.'}}
  </span>
{{/if}}
