<div class="ui container">
  <div class="column sixteen wide">
    <h2 class="ui header center aligned">
      {{t 'Edit Speaker'}}
    </h2>
    <div class="ui container">
      {{forms/session-speaker-form fields=model.form data=model save=(action 'save') event=model.event 
      isSpeaker=true includeSpeaker=true isSessionSpeaker=true isLoading=isLoading}}
    </div>
  </div>
</div>