<div class="sixteen wide column">
  {{events/events-table columns=columns
                        data=model.data
                        store=model.store
                        query=model.query
                        isNotStoreQuery = true
                        modelName = model.objectType
                        useNumericPagination=true
                        showGlobalFilter=true
                        showPageSize=true
                        deleteSpeaker=(action 'deleteSpeaker')
                        editSpeaker=(action 'editSpeaker')
                        viewSpeaker=(action 'viewSpeaker')
                        toggleFeatured = (action 'toggleFeatured')
                        customGlobalFilter='name'
  }}
</div>