<div class="sixteen wide column">
  {{#each model as |event|}}
    {{#event-card event=event isWide=true shareEvent=(action 'shareEvent')}}
      <span>Free Ticket</span>
      <span>#OD72618129093-104</span>
      <span>on January 25, 2017 10:30 AM</span>
    {{/event-card}}
    <div class="ui hidden divider"></div>
  {{/each}}
  {{modals/event-share-modal isOpen=isShareModalOpen event=eventToShare}}
</div>
