<div class="row">
  <div class="sixteen wide column">
    {{#if model}}
      Past Data
    {{else}}
      <div class="ui disabled header">{{t 'No tickets found for the past events'}}</div>
    {{/if}}
  </div>
</div>
