<div class="row">
  <div class="sixteen wide column">
    {{#if model}}
      Saved Data
    {{else}}
      <div class="ui disabled header">{{t 'No tickets found for the saved events'}}</div>
    {{/if}}
  </div>
</div>
