<div class="ui container">
  <div class="column sixteen wide">
    <h2 class="ui header center aligned">
      {{t 'Edit Session'}}
    </h2>
    <div class="ui container">
      {{forms/events/view/edit-session data=model.session save='save' isLoading=isLoading}}
    </div>
  </div>
</div>
