<div class="row">
  <div class="sixteen column wide">
    {{#if model}}
      {{#each model as |session|}}
        {{session-card session=session}}
        <div class="ui hidden divider"></div>
      {{/each}}   
    {{else}}
      <div class="ui disabled header">{{t 'No session proposals found for the events'}}</div>
    {{/if}}
  </div>
</div>
