<div class = "row">
  <div class = "sixteen wide column">
    <div class="ui fluid pointing secondary menu">
      {{#link-to 'events.live' class='item'}}
        Live
      {{/link-to}}
      {{#link-to 'events.draft' class='item'}}
        Draft
      {{/link-to}}
      {{#link-to 'events.past' class='item'}}
        Past
      {{/link-to}}
      {{#link-to 'events.import' class='item'}}
        Import
      {{/link-to}}
    </div>
  </div>
</div>
{{outlet}}