<div class="ui stackable grid">
  <div class="four wide column">
    {{explore/side-bar model=model category=category sub_category=subCategory event_type=eventType
    date_range=dateRange}}
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{t 'Events'}}</h1>
    {{#each model.events as |event|}}
      {{event-card event=event isWide=true shareEvent=(action 'shareEvent')}}
      <div class="ui hidden divider"></div>
    {{/each}}
    {{modals/event-share-modal isOpen=isShareModalOpen event=eventToShare}}
  </div>
</div>
