<div class="ui stackable grid">
  <div class="four wide column">
    {{explore/side-bar}}
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{t 'Events'}}</h1>
    {{#side-bar
       filter=(action 'filterEventType')
       as |eventsList|}}
      {{#each eventsList as |event|}}
        {{event-card event=event isWide=true shareEvent=(action 'shareEvent')}}
        <div class="ui hidden divider"></div>
      {{/each}}
    {{/side-bar}}
    {{modals/event-share-modal isOpen=isShareModalOpen event=eventToShare}}
  </div>
</div>
