<div class="row">
  <div class="sixteen wide column">
    <Forms::group::GroupView
      @group={{this.model.group}}
      @follower={{this.follower}}
      @followers={{this.followers}} />
  </div>
</div>
