<title>{{model.title}}</title>
<meta name="keywords" content="FOSSASIA, open source, front end, Open Event Server,
  Open Event Frontend, Open Event, Open Event Organizer, Manage Events, Events">
<meta name="title" content={{model.title}}>
<meta name="description" content="The front end for the Open Event Server where event organisers can create and manage their event.">
<meta name="author" content="FOSSASIA" >
<meta name="copyright"content="Open Event">
<meta name="language" content="ES">
<meta name="url" content="https://open-event-frontend.herokuapp.com/">

<meta property="og:type" content="website">
<meta property="og:title" content={{model.title}}>
<meta property="og:description" content="The front end for the Open Event Server where event organisers can create and manage their event.">
<meta property="og:url" content="https://open-event-frontend.herokuapp.com/">
<meta property="og:site_name" content="Open Event Frontend">