<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <h1>
        {{t 'My tickets'}}
      </h1>
      {{#tabbed-navigation}}
        {{#link-to 'my-tickets.upcoming' class='item'}}
          {{t 'Upcoming Events'}}
        {{/link-to}}
        {{#link-to 'my-tickets.past' class='item'}}
          {{t 'Past Events'}}
        {{/link-to}}
      {{/tabbed-navigation}}
    </div>
  </div>
  {{outlet}}
</div>
