<div class="ui segment">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h1 class="ui header">{{model.name}}</h1>
      <div>{{sanitize model.description}}</div>
    </div>
  </div>
</div>
