<div class="ui stackable center aligned two column grid">
<div class="column" style="width:30%"></div>
<div class="column" style="width:30%">
  <div class="ui center aligned piled segments" >
      <div class="ui grey inverted center aligned segment">
        <h3>LEVEL 1</h3>
      </div>
      <div class="ui center aligned segment">
        <h2>FREE</h2>
      </div>
      <div class="ui center aligned segment">
        <button class="ui primary button">Create Event</button>
      </div>
    </div>
</div>
</div>
<div class="ui stackable center aligned two column grid">
  <div class="column" style="width:30%">
    <div class="ui center aligned piled segments" >
      <div class="ui grey inverted center aligned segment">
        <h3>WEBSITE FEATURES</h3>
      </div>
      <div class="ui center aligned segment">
        Tickets
      </div>
      <div class="ui center aligned segment">
        Attendee
      </div>
      <div class="ui center aligned segment">
        Organizaer
      </div>
      <div class="ui center aligned segment">
        Dashboard
      </div>
      <div class="ui center aligned segment">
        Schedular
      </div>
      <div class="ui center aligned segment">
        other
      </div>
      <div class="ui center aligned segment">
        other
      </div>
      <div class="ui center aligned segment">
        other
      </div>
    </div>
  </div>
  
  <div class="column" style="width:30%">
    <div class="ui center aligned piled segments" >
      <div class="ui grey inverted center aligned segment">
        <h3>AVAILABILITY</h3>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
      <div class="ui center aligned segment">
        <i class="check circle icon" style="color:green"></i>
      </div>
    </div>
 </div>
</div>
