.header-section {
  padding: 0 !important;
}

.badge-body {
  color: #000;
  background-size: cover;
}

.w-3 {
  width: calc(2.4in);
}

.w-4 {
  width: calc(3.2in);
}

.w-6 {
  width: calc(4.8in);
}

.h-3 {
  height: calc(2.4in);
}

.h-4 {
  height: calc(3.2in);
}

.h-6 {
  height: calc(4.8in);
}

.sample-text {
  text-transform: unset;
  padding-top: 15%;

  .f-2 {
    font-size: 20px;
  }

  .f-4 {
    font-size: 40px;
  }

  .f-6 {
    font-size: 60px;
  }

  .align-center {
    text-align: center;
  }
}

.field-style {
  overflow: hidden;
  word-wrap: break-word;
}

.badge-qr {
  width: 100px !important;
}
