.header-section {
  padding: 0 !important;
}

.badge-body {
  color: #000;
  background-size: cover;
}

.w-3 {
  width: calc(3in);
}

.w-4 {
  width: calc(4in);
}

.w-6 {
  width: calc(6in);
}

.h-3 {
  height: calc(3in);
}

.h-4 {
  height: calc(4in);
}

.h-6 {
  height: calc(6in);
}

.sample-text {
  text-transform: capitalize;
  padding-top: 15%;

  .f-2 {
    font-size: 20px;
  }

  .f-4 {
    font-size: 40px;
  }

  .f-6 {
    font-size: 60px;
  }
}

.field-style {
  overflow: hidden;
  word-wrap: break-word;
}
