.background-color-title {
  background-color: #e7e4e4;
}

.badge-setting-title {
  background-color: #e7e4e4;
  padding-left: 1rem;
  line-height: 3rem;
}

.badge-setting {
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}

.badge-form-body {
  margin-left: .5rem;
  margin-right: .5rem;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  padding: .5rem 1rem .5rem 2rem;
}

.lh-2r {
  line-height: 2rem;
}

.badge-form-body-field {
  margin-left: 1rem;
  margin-right: 1rem;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  padding-left: 1rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.margin-left-revert-1rem {
  margin-left: -1rem;
}

.badge-form-text-alignment {
  margin-left: 1rem;
  margin-bottom: .5rem;
}

.spectrum-color-picker-replacer {
  width: 100%;
  border-radius: 5px;
}

.spectrum-color-picker-replacer .sp-preview {
  width: 100%;
  height: 2rem;
}

.spectrum-color-picker-replacer .sp-dd {
  display: none;
}
