.background-color-title {
  background-color: #e7e4e4;
}

.badge-setting-title {
  background-color: #e7e4e4;
  padding-left: 1rem;
  line-height: 3rem;
}

.badge-setting {
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}

.badge-form-body {
  margin: 0 .5rem .5rem;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  padding: .5rem 1rem;
}

.lh-2r {
  line-height: 2rem;
}

.badge-form-body-field {
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  padding-left: 1rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.margin-left-revert-1rem {
  margin-left: -1rem;
}

.spectrum-color-picker-replacer {
  width: 10%;
  border-radius: 2px;
}

.spectrum-color-picker-replacer .sp-preview {
  width: 100%;
  height: 1rem;
}

.spectrum-color-picker-replacer .sp-dd {
  display: none;
}

.min-width-0 {
  min-width: 0 !important;
}

.font-color .spectrum-color-picker-replacer {
  width: 100%;
  border-radius: 5px;
}

.font-color .spectrum-color-picker-replacer .sp-preview {
  width: 100%;
  height: 2rem;
}
