<div class="sixteen column wide">
  {{events/events-table columns=columns data=model
    useNumericPagination=true
    showGlobalFilter=true
    showPageSize=true
    moveToDetails='moveToDetails'
    editEvent='editEvent'
    openDeleteEventModal='openDeleteEventModal'
  }}
  {{modals/event-delete-modal isLoading=isLoading isOpen=isEventDeleteModalOpen confirmName=confirmName eventName=eventName deleteEvent=(action 'deleteEvent')}}
</div>
