<div class="sixteen column wide">
  {{events/events-table columns=columns data=model
    useNumericPagination=true
    showGlobalFilter=true
    showPageSize=true
    moveToDetails='moveToDetails'
    editEvent='editEvent'
  }}
</div>
