<div class="sixteen column wide">
  {{events/events-table columns=columns data=model
    useNumericPagination=true
    showGlobalFilter=true
    showPageSize=true
    moveToDetails=(action 'moveToDetails')
    editEvent=(action 'editEvent')
    openDeleteEventModal=(action 'openDeleteEventModal')
  }}
  {{modals/event-delete-modal isLoading=isLoading isOpen=isEventDeleteModalOpen confirmName=confirmName eventName=eventName deleteEvent=(action 'deleteEvent')}}
</div>
