<div class="{{classes.pageSizeWrapper}}">
  <div class="{{classes.pageSizeSelectWrapper}}">
    {{models-select options=pageSizeValues value=pageSize class=(concat classes.input " changePageSize")}}
  </div>
</div>
